@charset "utf-8";

/* メインの画像をグリッドの配置にする s */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:35px;
}
/* 画像を一画面に入れる */
.wrapper ul img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* 両端の空白 */
.wrapper{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px ;
}

/* f */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list{
    list-style: none;
}

.product-list a{
    text-decoration: none;
    color: black;
}

.link-text{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    text-align: center;
    margin-top: 40px;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.item .item-text th{
    text-align: left;
    text-decoration: none;
}

/* ここからitemのデザイン */
.item{
    display: flex;
    align-items: stretch;
    gap: 70px;
}
.item p{
    margin-bottom: 50px;
    width: 500px;
}
.item img{
    width: 450px;
    height: 450px;
    margin: 50px;
}
.wrapper .site-title img{
    margin: 30px;
}
/* ここからcompanyのデザイン */
    #company{
        max-width: 600px;
    }
    #company .info{
        width:100%;
        border-collapse: collapse;
        /* テーブルの隙間を実践にする */
        margin-bottom: 20px;
    }
    #company .info th,
    #company .info td{
        font-weight: normal;
        border-bottom: 1px solid gray;
        padding: 20px 10px;
    }
    /* 左の項目 */
    #company .info th{
        width: 30%;
        text-align: left;
    }
    /* 右の項目 */
    #company .info td{
        width: 70%;
    }
    /* 最後の行だけ下線を消す */
    #company .info tr:last-child th,
    #company .info tr:last-child td{
        border-bottom: none;
    }
    /* Google Map */
    #company .map{
        filter: grayscale(100%);
    }

/* レスポンシブ対応デザイン */
@media (max-width: 600px){
    .product-list {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .product-list p {
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
        /* margin-left: 20px; */
    }
    nav {
        margin-right: 20px;
    }

    /* ◆◆◆ここからitemのデザイン◆◆◆ */
    .item {
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text {
        width: 100%;
    }
}
 
    
