@charset "utf-8";

/* メインの画像をグリッドの配置にする s */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:35px;
}
/* 画像を一画面に入れる */
.wrapper ul img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* 両端の空白 */
body{
    margin-left: 150px;
    margin-right: 150px;
    align-items: left;
}
/* f */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list{
    list-style: none;
}

.product-list a{
    text-decoration: none;
    color: black;
}

.link-text{
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    text-align: center;
    margin-top: 40px;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.item .item-text th{
    text-align: left;
    text-decoration: none;
}

/* ここからitemのデザイン */
.item{
    display: flex;
    align-items: stretch;
    gap: 70px;
}
.item p{
    margin-bottom: 50px;
    width: 500px;
}
.item img{
    width: 450px;
    height: 450px;
    margin: 50px;
}
.wrapper .site-title img{
    margin: 30px;
}